<!DOCTYPE html>
<html>
    <head><title>Home Page</title></head>
<body>

<h1>Hello World!</h1>
<p>Welcome to Buckets Tic-Tac-Toe!</p>
<p>An upgraded Tic-Tac-Toe game</p>
<p>In a standard game, each player has 3 size of buckets, Large, Medium, Small</p>
<p>Larger bucket can overlap smaller bucket</p>
<p>Player with first move has 1 less small bucket</p>
<p>Players can move their buckets if first layer (can't move an overlapped bucket)</p>

<h1> <a href="/game"> > Start Game! </a> </h1>

</body>
</html>