<!DOCTYPE html>
<html>
    <head><title>Home Page</title></head>
<body>

<h1>Hello World!</h1>
<p>Welcome to Buckets Tic-Tac-Toe!</p>
<p>An upgraded Tic-Tac-Toe game</p>
<p>In a standard game, each player has 3 size of buckets, Large, Medium, Small</p>
<p>Larger bucket can overlap smaller bucket</p>
<p>Player with first move has 1 less small bucket</p>
<p>Players can move their buckets if first layer (can't move an overlapped bucket)</p>

<h1> <a href="/game"> > Start Game! </a> </h1>

<h2>Setting:</h2>
<label>Number of turn before draw </label><input type="number" name="max_turn" value=20>
<br>
<label>Size of Board (NxN, input N) </label><input type="number" name="grid_size" value=4>
<br>
<label>Number of large buckets </label><input type="number" name="bucket_size_2" value=3>
<br>
<label>Number of medium buckets </label><input type="number" name="bucket_size_1" value=3>
<br>
<label>Number of small buckets </label><input type="number" name="bucket_size_0" value=3>
<br>

</body>
</html>